{% extends "presenters/base_presenters.html" %}

{% block js_extra %}
  $(document).ready(function(){
    $("ul#site-nav > li:eq(3)").attr("class", "active");
  });
{% endblock js_extra %}

{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h1>Hi, 欢迎来到 <a href="{% url 'index' %}">www.30lol.com</a></h1>
        <p>
          站长是一名80后的老码农，自幼喜欢电子游戏，中小学期间的课余时光大多数都在街机厅度过，大学期间也曾沉迷于传奇夜夜通宵不睡，参加工作之后玩的最投入的游戏是PSP上的怪物猎人，记得为了过村长天地每天都刷到凌晨4~5点，持续了一周的时间才把天地双杀。
        </p>
        <p>
          随着结婚生女，忙碌的工作和生活渐渐冲淡了对游戏的热情，期间虽然也挤出时间通关了屈指可数的几款主机游戏，但是对网络游戏是一点点都不感冒了，直到今年夏天已过而立之年的我在基友的怂恿下接触了英雄联盟，从此一发不可收，至今已经打了1000多场，无奈技艺不精仍处于青铜水平，尽管如此每天最期待的时候就是下班回到家，吃完饭洗完碗，对着电脑撸上几把。
        </p>
        <p>
          英雄联盟这个游戏就像人生一样，大家都从弄不清楚春哥红叉是什么的小白开始，幸幸苦苦的匹配到30级后在同一个起点为了名誉打拼，极少数有天赋的人脱颖而出成为最强王者来到金字塔的顶端，少数人通过努力在钻石白金站稳脚跟，大多数的人则默默无闻的在白银青铜徘徊。好在随着直播平台的兴起，当你在上分遇到瓶颈时可以近距离的感受到大神的操作、意识和大局观，相信很多人通过观看一些优秀的主播实力有所提升，当你觉得枯燥时有各式各样的美女让你大饱眼福，不过带来的副作用是晚上常常看直播看到很晚。
        </p>
        <p>
          最近由于主播们频繁的转会，导致我想找喜欢的主播越来越麻烦，遂萌生了做一个网站将优秀的主播全部收录起来的想法，于是有了本站的诞生，希望本站能给大家带来方便！
        </p>
        <p>
          未完，待续……………………
        </p>
        <hr />
        <p><a href="{% url 'feedback' %}">如果你有任何问题或建议，请在此留言</a></p>
      </div>
    </div>
  </div>
{% endblock content %}