{% extends 'accounts/base_profile.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="password form-account">
  <legend>{% trans "Reset Password" %}</legend>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table class="table non-border">
      <tr>
        <td>{{ form.old_password.label_tag }}</td>
        <td>{{ form.old_password }}{{ form.old_password.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password1.label_tag }}</td></td>
        <td>{{ form.new_password1 }}{{ form.new_password1.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password2.label_tag }}</td></td>
        <td>{{ form.new_password2 }}{{ form.new_password2.errors }}</td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary">{% trans "Reset password" %}</button></td>
      </tr>
    </table> 
  </form>
</div>
{% endblock %}
