{% extends 'accounts/base_profile.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="password-reset form-account">
  <legend>{% trans "Reset Password" %}</legend>
  <form action="" method="post">
    {% csrf_token %}
    <table class="table non-border" action="" method="post">
      <tr class="email">
        <td><label for="{{ form.email.id_for_label }}" class="control-label">邮件地址</label></td>
        <td>
          <input type="text" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value|default:'' }}" />
          {{ form.email.errors }}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="{% trans "Send password" %}" />
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %} 