{% extends 'accounts/base_profile.html' %}

{% block js_extra %}
  $(document).ready(function(){
    $("ul#profile-nav > li#profile-2").attr("class", "active");
  });
{% endblock js_extra %}

{% block tab_page %}
<div class="password">
  <legend>修改密码</legend>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table class="table non-border">
      <tr>
        <td>{{ form.old_password.label_tag }}</td>
        <td>{{ form.old_password }}{{ form.old_password.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password1.label_tag }}</td></td>
        <td>{{ form.new_password1 }}{{ form.new_password1.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password2.label_tag }}</td></td>
        <td>{{ form.new_password2 }}{{ form.new_password2.errors }}</td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary">提交</button></td>
      </tr>
    </table> 
  </form>
</div>
{% endblock %}